[submodule "front-end"]
	path = front-end
	url = https://github.com/FelipeFerraz4/habit-tracker-front
[submodule "back-end"]
	path = back-end
	url = https://github.com/FelipeFerraz4/habit-tracker-back
